@import url("https://fonts.cdnfonts.com/css/courgette");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/inter");

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* fin reset CSS */

/* *************************************************************************************************************************** */

/* start Variables */
:root {
    --color-primary: #2C3138;
    --color-secondary: #093c5c;
    --color-violet: #6A3AA0;
    --color-background: #cae1f2;
    --color-texte-light: #e8efcc;
    --color-texte-dark: #444444;
    --color-noir: #000;
}

/* end Variables / Import */

/* *************************************************************************************************************************** */

body {
    color: var(--color-texte-dark);
    background-color: var(--color-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}


/* body{
    background-image: url("../assets/img/arriere_plan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
} */


header img {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    position: absolute;
}

#my_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #093c5c;
    color: #e8efcc;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h3 {
    text-align: end;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

header h1 {
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

#titre_dev {
    font-size: 0.6em;
    margin-right: 1vw;

}

#div_nav {
    display: flex;
    justify-content: center;
}

.nav {
    margin-top: 1vh;
    width: 80vw;
    background-color: var(--color-noir);
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: "Courgette", sans-serif;
    border-radius: 7px;
    position: sticky;

}

.nav a {
    color: #f4fb90;
    padding: 20px 30px;
    font-size: 0.6em;
    transition: all 0.3s ease-out;
    letter-spacing: 1px;
}

.nav a:hover {
    /* background-color: var(--color-texte-light); */
    background-color: #f2d4cd;
    color: #2C3138;
}

/* .nav_cv{
    margin-top: 5vh;
    width: 90vw;
    background-color:#6A3AA0;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
} */
main {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

#main_colonne_aacueil {
    height: 62vh;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(../assets/img/arriere_plan2.jpg);
    background-size: cover;

}

#main_colonne_cv {
    margin-top: -3vw;
    flex-direction: column;
    max-width: 90vw;

}

h2 {
    max-width: 90vw;
}

#acroche {
    width: 55vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: var(--color-texte-light);
    background-color: var(--color-noir);
    padding: 30px;
    border-radius: 10px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 130%;
    margin-top: 50px;
    font-size: 0.7em;
}

#lien_cv {
    margin-top: 1vh;
    font-size: 0.6em;
    text-decoration: underline;
    color: var(--color-texte-dark);
}



footer {
    font-size: 1em;
    max-width: 40.0rem;
    border-radius: 3px;
    margin: 1rem auto 1rem;
    background-color: #efefef;
    box-shadow: 0 0 1.0rem rgb(96, 170, 219);

}

section {
    margin-top: 0vw;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




section h2 {
    margin-top: 0.5vw;

    width: 30vw;
    line-height: 3.5rem;
    color: var(--color-texte-light);
    background-color: var(--color-secondary);
    font-size: 0.9em;

    text-align: center;
    padding-left: 1.0rem;
    margin-bottom: 2rem;
    top: 0;
    position: sticky;
}

main ul {
    display: grid;
    margin-bottom: 1.0rem;
    margin-top: 5.0rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 4;
    text-align: center;
}

main h2 {
    box-shadow: 0 0 1.0rem rgb(96, 170, 219);
    font-family: "Courgette", sans-serif;
    ;

}

main ul li {
    display: block;
    width: 100%;
}







footer h2 {
    text-align: center;
}

section {
    margin-top: 80px;
    margin-bottom: 50px;
}

section p :nth-child(4) {
    text-align: center;

}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.skill-box {
    padding: 1rem;
}

.exp-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.exp-box {
    padding: 1rem;
}

.study-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.study-box {
    padding: 1rem;

}

.cv_date {
    color: var(--color-texte-dark);
}

.cv_date p {
    margin-bottom: 2vw;
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;

}


.cv_date h3,
h4 {
    margin-bottom: 1vw;
    color: var(--color-violet);
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.cv_competence span {
    margin-bottom: 0.5vw;
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.cv_competence p {
    margin-bottom: 3vw;
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;

}

.cv_competence_img {
    width: 70vw;
}

.cv_competence {
    color: var(--color-texte-dark);
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;


}

.cv_competence h4 {
    margin-bottom: 1vw;
    color: var(--color-violet);
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.atouts_box span{
    font-weight: bold;
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 2vw;
}

.atouts_box h4{
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    margin-bottom: 0vw;
}
.atouts_box p{
    font-family: 'calibri', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5vw;
}

.loisirs-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: italic;

}

.loisirs-box {
    padding: 1rem;
}




section ul {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.skills-container {
    grid-template-columns: repeat(1, 1fr);
}

.study-container {
    grid-template-columns: repeat(1, 1fr);
}

header {
    display: block;
    position: static;
    margin: 0 auto;
}

div {
    display: grid;
    column-gap: 20px;
}









/* Page d'erreur */

#body_error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#message_error {
    width: 650px;
    height: 400px;
    background-image: url(../assets/img/error_404.jpg);
    background-size: cover;
    margin: 20px;
    padding: 60px;
    padding-top: 90px;
    color: rgb(170, 65, 65);
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    /* margin-left: 306px; */
}

.go_back {
    margin-top: 130px;
}

.container p {
    font-size: 0.5em;
}

.cv_image {
    width: 90vw;
    margin: 5vw;
}